nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
  background:rgba(255,255,255,0.96);
}

.container {
  height: 100%;
  width: 1416px;
  margin: 0 auto;

  p {
    float: left;
    padding: 20px; 
  }
}

@media screen and (max-width: 1919px) {
  .container {
    width: 1320px;
  }

}
@media screen and (max-width: 1365px) {
  .container {
    width: 752px;
  }
}


