<div class="container">
  <div class="question">
    What are you
    <strong>here to do?</strong>
  </div>
  <ngx-glide
    type="carousel"
    perView="5"
    focusAt="center"
    startAt="2" gap="24"
    [showBullets]="false"
    >
    <div class="glide__slide">
      <div class="image"></div>
      <div class="label">Mobile internet</div>
      <div class="start-here">START HERE  ></div>
    </div>
    <div class="glide__slide">
      <div class="image"></div>
      <div class="label">Home internet</div>
      <div class="start-here">START HERE  ></div>
    </div>
    <div class="glide__slide">
      <div class="image"></div>
      <div class="label">Get a device</div>
      <div class="start-here">START HERE&nbsp;&nbsp;&nbsp;></div>
    </div>
    <div class="glide__slide">
      <div class="image"></div>
      <div class="label">Add a phone-line</div>
      <div class="start-here">START HERE  ></div>
    </div>
    <div class="glide__slide">
      <div class="image"></div>
      <div class="label">Upgrade</div>
      <div class="start-here">START HERE  ></div>
    </div>
  </ngx-glide>
</div>
