<div class="container">
  <div class="question">
    What are you
    <strong>here to do?</strong>
  </div>
  <div class="my-slider">
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Mobile internet</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Home internet</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Get a device</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Add a phone-line</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Upgrade</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Mobile internet</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Home internet</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Get a device</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Add a phone-line</div>
      </div>
    </div>
    <div>
      <div class="carousel-item">
        <div class="image"></div>
        <div class="label">Upgrade</div>
      </div>
    </div>    




    
  </div>
</div>