.container {
  height: 1000px;
  width: 1416px;
  
  margin: 0 auto;
}

.content {
  --column-width1: 0 96px;
  --column-width2: 96px 120px;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(90deg, #f0feff var(--column-width1),#dff3f5 var(--column-width2));
}
@media screen and (max-width: 1919px) {
  .container {
    width: 1320px;
  }
  .content {
    --column-width1: 0 88px;
    --column-width2: 88px 112px;
  }
}
@media screen and (max-width: 1365px) {
  .container {
    width: 752px;
  }
  .content {
    --column-width1: 0 80px;
    --column-width2: 80px 96px;
  }
}


